@font-face {
  font-family: 'Gothic';
  src: url('fonts/Gothic.ttf') format('truetype');
}

body {
  font-family: 'Century Gothic', sans-serif;
  margin: 0;
  border: 0;
  background-color: #ffffff;
}


* {
  box-sizing: border-box;


  
}

.nav {
  color: black;
  width: 100%;
  
}
.list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  margin: 1rem;
}
.link a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
 margin-right: 2rem;
}

.link:hover {
  color:  #6F0FDF
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
  overflow: hidden;


}

.image {
  align-self:end;
  width: 40vw;
  height: 80vh;
  bottom: 0;
  background-position: center;
  background-image: url(images/steve.png);
  background-size: contain;
  background-repeat: no-repeat;
 
  
 
  
 
}


.name {

  
  position: relative;
  width: 40%;
 
}

.quote {
 
    
    font-size: 2.3rem;
    padding-top: .5rem;
    padding-right: 3rem;
    font-weight: lighter;
  
   
}
.quote .big{
 font-size: 4rem;
 background-image: linear-gradient(to right, rgb(122, 82, 231), #6F0FDF, #CA2BB6);
-webkit-background-clip: text;
color:transparent;
background-size: 400%;
animation:bg-animation 5s infinite alternate;




}

.quote::after {
 
    
  content:"Steve Jobs";
  font-size: 1.5rem;
  background-image: linear-gradient(to right, rgb(122, 82, 231), #6F0FDF, #CA2BB6);
background-size: 400%;
animation:bg-animation 5s infinite alternate;
  color: aliceblue;
  padding: 0.5rem;

 
}

@keyframes bg-animation{
0%{
 background-position: top;
}
100%{
  background-position: bottom;
}



}


.name h2 {

  position: relative;
  bottom: -15rem;
  font-size: 3rem;
  width: fit-content;
  margin-left: 2.5rem;
  background-image: linear-gradient(to right, rgb(122, 82, 231), #6F0FDF, #CA2BB6);
-webkit-background-clip: text;
color:transparent;
background-size: 400%;
animation:bg-animation 5s infinite alternate;

 

}
.name h2::before, .name h2::after {

  content: "";
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  
}

.name h2::before{
  
  background:rgb(255, 255, 255);
  animation: typing 5s steps(14) forwards;

}

@keyframes typing {
to{

left: 100%;


}}

@keyframes blinking{

  to{
    background: transparent;
  }


}

@keyframes bg-animation{
  0%{
   background-position: left;
  }
  100%{
    background-position: right;
  }
}
.name h2::after{
  width: 0.125em;
  background:rgb(0, 0, 0);
   animation: typing 5s steps(14) forwards , blinking 800ms steps(14) infinite;



}



.name h3 {
  position: relative;
  bottom: -15rem;
  font-size: 2rem;
  margin-left: 2.5rem;
  width: fit-content;
  font-weight: lighter;
  
}

.name h3{
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.content{
  background-color:  #2A2342;
  text-align: center;
}
.content img {
  width: 40%;
}


.content h4 {
  margin: 0;
  padding: 1rem;
  font-size: 1.6rem;
   color:  rgb(250, 250, 250);
  

}

.web{

  margin-top: 1rem;
}



.web p, .design p{

padding-left:15%;
padding-right: 15%;





}

.dev-project-container{
  margin-top: 2rem;
    display: grid;
    gap: 4rem;
    grid-template:290px 300px / 600px 600px;

    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding-bottom: 3rem;
    color:rgb(255, 255, 255);
    font-size: 1rem;

}
.dev-project-container img{
    border-radius: 0.5rem;
    width: 400px;
}


.design-images {
  margin-top: 2rem;
    display: grid;
    gap: 4rem;
    grid-template:290px 280px / 600px 600px;

    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding-bottom: 3rem;
    color:rgb(255, 255, 255);
    font-size: 1rem;


}



.design-images b, .dev-project-container b{
 font-weight: bold;
color:rgb(220, 183, 255)  ;

}
.design-images img, .dev-project-container img{
    width: 400px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}
.design-images img:hover, .dev-project-container img:hover{
  width: 400px;
  border:2px solid rgb(220, 183, 255);
  
  
}
.skills{

  background-color: #ffffff;

}
.skills h4{

  color:#410a80;  
}


.skills div {
  display: grid;
  text-align: center;
  grid-template: 250px 250px / 200px 200px 200px 200px 200px 200px;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;

}

.certifications {

  color: #ffffff;

  

}

.certifications div {
  display: flex;
  justify-content: center;
  align-content: space-around;
  justify-items: space-around;
  margin-bottom: 2rem;
}

.certifications img {
  margin-top: 2rem;
  width: 80%;
  border-radius: 0.5rem;
}
.certifications img:hover {
  border:2px solid rgb(220, 183, 255);
}
.contact{
  display: flex;
  justify-content: space-between;

  
  


}
.cont{
text-align:left;
color:white;
padding:  3rem;
font-size: 1.5rem;

}
.pic{

  margin-left: 40vw;
   padding: 4rem;
   border-radius: 5rem;
  
 

}



h5{
  
    font-size: 1.5rem;
    color:rgb(220, 183, 255);
   
    

}



    
.footer{

display: flex;
align-items: center;
justify-content: space-around;
background-color: white;


}
.footer img{
    

    width: 60px;
}


.footer img:hover{
    

   transform: scale(1.1);
}


    

.hidden{
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 1s;


}    

.show{

opacity: 1;
filter: blur(0);
transform: translateX(0);

}
.dev-project-container:nth-child(1){

    transition-delay: 200ms;
}
.dev-project-container:nth-child(2){

    transition-delay: 400ms;
}
.dev-project-container:nth-child(2){

    transition-delay: 600ms;
}

.dev-project-container:nth-child(2){

    transition-delay: 800ms;
}


.design-images:nth-child(1){

    transition-delay: 200ms;
}
.design-images:nth-child(2){

    transition-delay: 400ms;
}
.design-images:nth-child(3){

    transition-delay: 600ms;
}
.design-images:nth-child(4){

    transition-delay: 800ms;
}




.certificates:nth-child(1){

    transition-delay: 200ms;
}
.certificates:nth-child(2){

    transition-delay: 250ms;
}





@media (max-width:1000px){

 .image, .quote, .skills{
  display: none;
}

.hero{

  text-align: center;

}

.name{
width: 100%;
top: 1.5rem;

}

.web h4, .certifications h4, .design h4, .contact h4, #contact {

font-size: 1rem;
text-align: left;

}
.contact h5, p{

font-size: 0.8rem;
  
}

.web p , .design p{
  width: 200%;
}


.name h2{

top: 2rem;
font-size: 2rem;


}
.name h3{

  font-size: 1.5rem;
  top:3rem;
}




.design-images, .dev-project-container {
  display: grid;
  grid-template-columns: 50%;
  margin-left: 1rem;;
  gap: 5rem;
  text-align: left;
  overflow: hidden;
  padding-top: 2rem;
  padding-right: 1rem;
  

  justify-content: left;

  padding-bottom: 3rem;
  color: #e4e4e4;
  font-size: 1rem;
  


}
.design-images img, .dev-project-container img{
  width: 90vw;
 
}
.design-images img:hover, .dev-project-container img:hover{
  width: 90vw;
 
}


.certifications div{
  display: grid;
  grid-template-columns: 100% ;
  
  
}
.certifications img{
  margin: 0;
  padding: 0;
  
}
.list a{
  font-size: 1.5rem;
  margin-left: 1rem;
;

}

.list {
  display: block;
  padding: 1rem;
}
.link{

padding-top: 0.5rem;

}


  

  .footer img{
      
  
      width: 40px;
  }
  
  .pic{
    display: none;
  }

}